<apishore-shift-container> 
    <!-- GENERATED CODE! ng-module/prototypes/left-menu.html --> 
    <apishore-shift-menu> 
        <apishore-shift-menu-top></apishore-shift-menu-top> 
        <div class="as-cell-wide"> 
            <div class="as-panel as-vscroll"> 
                <ul class="as-sidebar-menu"> 
                    <li class="as-sidebar-menu-group-title">Summary</li>
                    <li class="as-sidebar-menu-item"> 
                        <a ui-sref="root.introduction">
                            <span class="as-sidebar-menu-item-title">Introduction</span> 
                        </a>
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.structure">
                            <span class="as-sidebar-menu-item-title">Framework Structure</span> 
                        </a> 
                    </li> 
                    <li class="as-sidebar-menu-group-title">Core modules</li>
                    <li class="as-sidebar-menu-item"> 
                        <a ui-sref="root.core.normalize">
                            <span class="as-sidebar-menu-item-title">Normalize</span> 
                        </a> 
                    </li> 
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.core.palette">
                            <span class="as-sidebar-menu-item-title">Palettes</span> 
                        </a> 
                    </li>
                    
                    <li class="as-sidebar-menu-group-title">Layout modules</li>
                    
                    <li class="as-sidebar-menu-item"> 
                        <a ui-sref="root.modules.box">
                            <span class="as-sidebar-menu-item-title">Box</span> 
                        </a> 
                    </li> 
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.floating">
                            <span class="as-sidebar-menu-item-title">Floating</span> 
                        </a> 
                    </li> 
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.gridsystem">
                            <span class="as-sidebar-menu-item-title">Grid System</span> 
                        </a> 
                    </li> 
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.gutter">
                            <span class="as-sidebar-menu-item-title">Gutters</span> 
                        </a> 
                    </li> 
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.responsive">
                            <span class="as-sidebar-menu-item-title">Responsive</span> 
                        </a> 
                    </li> 
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.panel">
                            <span class="as-sidebar-menu-item-title">Panel</span> 
                        </a> 
                    </li> 
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.scrollable">
                            <span class="as-sidebar-menu-item-title">Scrollable</span> 
                        </a> 
                    </li> 
                    
                    <li class="as-sidebar-menu-group-title">typography</li>
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.text_panel">
                            <span class="as-sidebar-menu-item-title">Text panel</span> 
                        </a> 
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.text_align">
                            <span class="as-sidebar-menu-item-title">Text alignment</span> 
                        </a> 
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.typography">
                            <span class="as-sidebar-menu-item-title">Typography</span> 
                        </a> 
                    </li> 

                    <li class="as-sidebar-menu-group-title">tables</li>
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.table_basic">
                            <span class="as-sidebar-menu-item-title">Basic</span> 
                        </a> 
                    </li> 
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.table_data">
                            <span class="as-sidebar-menu-item-title">Data Table</span> 
                        </a> 
                    </li>
                    
                    <hr>
                    <li class="as-sidebar-menu-group-title">COMING SOON!</li>
                    <li class="as-sidebar-menu-group-title">navigation</li>
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.bottom_navigation">
                            <span class="as-sidebar-menu-item-title">Bottom navigation</span> 
                        </a> 
                    </li> 
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.bottom_sheets">
                            <span class="as-sidebar-menu-item-title">Bottom sheets</span> 
                        </a> 
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.sidebar">
                            <span class="as-sidebar-menu-item-title">Sidebar (drawer)</span> 
                        </a> 
                    </li>

                    <li class="as-sidebar-menu-group-title">actions</li>
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.button">
                            <span class="as-sidebar-menu-item-title">Buttons</span> 
                        </a> 
                    </li> 
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.button_dropdown">
                            <span class="as-sidebar-menu-item-title">Drop down buttons</span> 
                        </a> 
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.button_fa">
                            <span class="as-sidebar-menu-item-title">Floating actions</span> 
                        </a> 
                    </li>

                    <li class="as-sidebar-menu-group-title">CARDS</li>
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.card_layouts">
                            <span class="as-sidebar-menu-item-title">Card Layouts</span> 
                        </a> 
                    </li> 
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.card">
                            <span class="as-sidebar-menu-item-title">Cards</span> 
                        </a> 
                    </li>

                    <li class="as-sidebar-menu-group-title">controls</li>
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.chips">
                            <span class="as-sidebar-menu-item-title">Chips</span> 
                        </a> 
                    </li> 
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.control_checkbox">
                            <span class="as-sidebar-menu-item-title">Checkboxes</span> 
                        </a> 
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.control_radio">
                            <span class="as-sidebar-menu-item-title">Radio</span> 
                        </a> 
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.control_input">
                            <span class="as-sidebar-menu-item-title">Text inputs</span> 
                        </a> 
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.control_select">
                            <span class="as-sidebar-menu-item-title">Select</span>
                        </a>
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.control_date">
                            <span class="as-sidebar-menu-item-title">Date picker</span>
                        </a>
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.control_time">
                            <span class="as-sidebar-menu-item-title">Time picker</span>
                        </a>
                    </li>
                    
                    <li class="as-sidebar-menu-group-title">dialogs</li>
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.dialog">
                            <span class="as-sidebar-menu-item-title">Dialogs</span> 
                        </a>
                    </li> 
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.dialog_inplace">
                            <span class="as-sidebar-menu-item-title">In place dialog</span> 
                        </a> 
                    </li>

                    <li class="as-sidebar-menu-group-title">panels</li>

                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.expansion_panel">
                            <span class="as-sidebar-menu-item-title">Expansion Panel</span> 
                        </a> 
                    </li>
                    
                    <li class="as-sidebar-menu-group-title">lists</li>
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.list">
                            <span class="as-sidebar-menu-item-title">Normal lists</span> 
                        </a> 
                    </li>
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.list_small">
                            <span class="as-sidebar-menu-item-title">Small lists</span> 
                        </a> 
                    </li>
                    
                    <li class="as-sidebar-menu-group-title">menus</li>
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.menu_popup">
                            <span class="as-sidebar-menu-item-title">Context menus</span> 
                        </a> 
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.menu_text_panel">
                            <span class="as-sidebar-menu-item-title">Text panel top menu</span> 
                        </a> 
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.menu_bar">
                            <span class="as-sidebar-menu-item-title">Menu bar</span> 
                        </a> 
                    </li>
                    
                    <li class="as-sidebar-menu-group-title">progress</li>
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.progress">
                            <span class="as-sidebar-menu-item-title">Progress</span> 
                        </a>
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.activity">
                            <span class="as-sidebar-menu-item-title">Activity</span> 
                        </a>
                    </li>
                    
                    <li class="as-sidebar-menu-group-title">notifications</li>
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.snackbars">
                            <span class="as-sidebar-menu-item-title">Snackbars</span> 
                        </a>
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.toasts">
                            <span class="as-sidebar-menu-item-title">Toasts</span> 
                        </a>
                    </li>
                    
                    <li class="as-sidebar-menu-group-title">workflows</li>
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.steppers">
                            <span class="as-sidebar-menu-item-title">Steppers</span> 
                        </a>
                    </li>
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.wizards">
                            <span class="as-sidebar-menu-item-title">Wizards</span> 
                        </a>
                    </li>

                    <li class="as-sidebar-menu-group-title">UI</li>
                    
                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.subheader">
                            <span class="as-sidebar-menu-item-title">Subheader</span> 
                        </a>
                    </li>

                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.tab">
                            <span class="as-sidebar-menu-item-title">Tabs</span> 
                        </a>
                    </li>

                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.toolbar">
                            <span class="as-sidebar-menu-item-title">Toolbars</span> 
                        </a>
                    </li>

                    <li class="as-sidebar-menu-item">
                        <a ui-sref="root.modules.tooltip">
                            <span class="as-sidebar-menu-item-title">Tooltip</span> 
                        </a>
                    </li>
                </ul> 
            </div> 
        </div> 
    </apishore-shift-menu> 
    <apishore-shift-content>
    	<div class="as-vbox as-panel">
    		<div class="as-text-panel-top-menu as-hbox">
    			<a class="as-text-panel-top-menu-icon asd-phone" ng-click="sidebar.toggle()">
	    			<i class="material-icons">menu</i>
    			</a>
    			<div class="as-text-panel-top-menu-header as-cell-wide">
    			{CSS Framework}
    			</div>
    			<!-- 
    			<a class="as-text-panel-top-menu-icon" ng-click="forceMode('desktop')">
	    			<i class="material-icons">desktop_mac</i>
				</a>
    			<a class="as-text-panel-top-menu-icon" ng-click="forceMode('tablet')">
	    			<i class="material-icons">tablet</i>
				</a>
    			<a class="as-text-panel-top-menu-icon" ng-click="forceMode('phone-portrait')">
	    			<i class="material-icons">smartphone</i>
				</a>
    			<a class="as-text-panel-top-menu-icon" ng-click="forceMode('phone-landscape')">
	    			<i class="material-icons">smartphone</i>
				</a> -->
    		</div>
	        <div class="ui-view as-cell-wide"></div> 
    	</div>
    </apishore-shift-content> 
</apishore-shift-container>
