/* angular-ui requirement for missed href */
/* line 2, ../scss/apishore-docs.scss */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/* line 5, ../scss/apishore-docs.scss */
a {
  color: #1758FF;
  cursor: pointer;
}

/* line 11, ../scss/apishore-docs.scss */
#sandbar {
  background: #2C373D;
  color: #fff;
}
/* line 15, ../scss/apishore-docs.scss */
#sandbar h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 30px;
  margin-left: 0px;
  color: #fff;
  border: none;
}
