<div class="image-editor" style="margin-top:52px">
	<div class="image-crop-panel" ng-show="cropMode">
		<div class="image-crop-panel-inner">
			<div class="previewArea">
				<div class="areaHint">
					<?xml.text.labelPreview?>
				</div>
				<div class="container">
					<img class="croppedImage" ng-src="{{croppedImage}}" />
				</div>
			</div>
			<div class="cropArea">
				<div class="areaHint">
					<?xml.text.labelCrop?>
				</div>
				<div class="container image">
			    	<img-crop image="imageSource" result-image="croppedImage"></img-crop>
			    </div>
				<div class="container">
					<div class="crop-buttons text-center">
						<a class="btn btn-lg btn-primary" ng-click="crop()" ng-show="model">Crop</a>
						<a class="btn btn-lg btn-default" ng-click="exitCropMode()" ng-show="model">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div flow-init
     flow-file-added="added=true;!!{png:1,jpg:1,jpeg:1}[$file.getExtension()]"
	 flow-files-submitted="fileUploadSubmit($file, $event, $flow)"
     flow-file-success="uploaded($file, $message)">
		<div class="file-upload-preview as-vbox">
			<div class="file-upload-preview-image">
				<img ng-src="{{imageSource}}" height="100" ng-show="model"/>
			    <div class="help-inline" ng-show="(form.$submitted || formField.$dirty) && formField.$invalid">
			        <small class="error" ng-show="formField.$error.required">Image is required</small>
					<small class="error" ng-repeat="(key, message) in formField.$error.server">{{message}}</small>
			    </div>
			</div>
			<div class="as-hbox">
			    <button type="button" class="as-button asa-flat asa-primary" flow-btn flow-attrs="{accept:'image/*'}">
			    	<span class="as-button-text">Upload</span>
			    </button>
<!-- 			    <button type="button"  class="as-button asa-flat" ng-click="toCropMode()" ng-show="model">
			    	<span class="as-button-text">Crop</span>
			    </button>
 -->
 			    <button type="button"  class="as-button asa-flat" ng-click="remove()" ng-show="model">
			    	<span class="as-button-text">Remove</span>
			    </button>
			</div>
		</div>
	</div>
</div>