.as-list-view-top-help
{
	background-color: map-get($as-palette-yellow, 200);
	padding: $as-gutter;
	border-bottom: solid 8px map-get($as-palette-grey, 500);
}
.as-md-list-left-indicator
{
	position: relative;
	width: $as-md-list-left-indicator-width;
	height: $as-md-list-row-height;
}
.as-md-list-header-item
{
	&.asa-left-indicator
	{
		width: $as-md-list-left-indicator-width;
	}
}
.as-md-list-left-indicator-item-icon
{
	position: relative;
	left: ($as-md-list-left-indicator-width - 24px)/2;
	top: ($as-md-list-row-height - 24px)/2;
	&.asa-ok
	{
		color: map-get($as-palette-green, 300);
	}
	&.asa-normal
	{
		color: map-get($as-palette-grey, 300);
	}
	&.asa-warn
	{
		color: map-get($as-palette-yellow, 300);
	}
	&.asa-critical
	{
		color: map-get($as-palette-red, 300);
	}
}
.as-md-list-left-indicator-item-big-number-value
{
	font-size: 18px;
	padding-top: 10px;
	text-align:center;
	&.asa-normal
	{
		color: map-get($as-palette-grey, 500);
	}
	&.asa-warn
	{
		color: map-get($as-palette-yellow, 800);
	}
	&.asa-critical
	{
		color: map-get($as-palette-red, 500);
	}
}
.as-md-list-left-indicator-item-big-number-title
{
	font-size: 11px;
	text-align:center;
	color: map-get($as-palette-grey, 500);
}
.as-md-list-left-indicator-item-progress
{
	position: relative;
}
.as-md-list-left-indicator-item-progress-value
{
	position: relative;
	margin: 6px 20px;
	height: 4px;
	background-color: map-get($as-palette-grey, 100);
	overflow: hidden;
}
.as-md-list-left-indicator-item-progress-value-inner
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 4px;
	&.asa-normal
	{
		color: map-get($as-palette-green, 500);
	}
	&.asa-warn
	{
		color: map-get($as-palette-yellow, 800);
	}
	&.asa-critical
	{
		color: map-get($as-palette-red, 500);
	}
}
.as-md-list-left-indicator-item-progress-title
{
	font-size: 10px;
	text-align:center;
	color: map-get($as-palette-grey, 500);
}
