///@group snackbar
///
///
///

$as-snackbar-hpadding: 24px;

$as-snackbar-internal-padding-mobile: 24px;
$as-snackbar-internal-padding-desktop: 48px;

$as-snackbar-height1: 48px;
$as-snackbar-height2: 80px;
$as-snackbar-height3: 112px;

$as-snackbar-min-width-mobile: 100%;
$as-snackbar-max-width-mobile: 100%;

$as-snackbar-min-width-desktop: 288px;
$as-snackbar-max-width-desktop: 568px;

$as-snackbar-border-radius-mobile: 0px;
$as-snackbar-border-radius-desktop: 2px;

$as-snackbar-font-size: dp(14);
$as-snackbar-action-font-size: dp(14);
$as-snackbar-bg: #323232;
