.form-group-help {
	color: #999;
	font-size: 11px;
	line-height: 18px;
	margin-bottom: 4px;
	&:hover
	{
		color: #666;
	}
}
.apishore-form-help-text
{
	padding: 4px;
	margin-bottom: 15px;
	color: #666;
	line-height: 18px;
	margin-bottom: 4px;
}
