$as-list2-row-height : 60px;
$as-list2-left-indicator-width: 80px;
$as-list2-gutter: 8px;
$as-list2-header-height: 30px;

.as-list2
{
}
.as-list2-header
{
	height: $as-list2-header-height;
	line-height: $as-list2-header-height;
	color: map-get($as-palette-grey, 500);
	background-color: map-get($as-palette-grey, 100);
	.material-icons
	{
		font-size: 16px;
		height: $as-list2-header-height;
		line-height: $as-list2-header-height;
	}
}
.as-list2-header-item
{
	padding-left: $as-list2-gutter;
	padding-right: $as-list2-gutter;
	cursor: default;
	*
	{
		height: $as-list2-header-height;
		line-height: $as-list2-header-height;
	}
	&:hover
	{
		background-color: map-get($as-palette-grey, 200);
		color: map-get($as-palette-grey, 600);
	}
}
.as-list2-row
{
	border-bottom: solid 1px map-get($as-palette-grey, 50);
	cursor: default;
	height: $as-list2-row-height;
	padding-left: $as-gutter / 2;
	padding-right: $as-gutter / 2;
	@include user-select(none);
	&:last-child
	{
		border-bottom: none;
	}
	&:hover,
	&:focus
	{
		background-color: map-get($as-palette-primary, 50);
	}
	&.asa-selected
	{
		background-color: map-get($as-palette-primary, 500);
		color: #fff;
		.asa-alert-action
		{
			color: #fff;
		}
	}
}
.as-list2-row-content
{
}
.as-list2-row-title
{
	padding-top: 10px;
	font-size: 16px;
	color: map-get($as-palette-fg, darker);
}
.as-list2-row-subtitle
{
	padding-top: 0px;
	font-size: 14px;
	padding-bottom: 20px;
	color: map-get($as-palette-fg, dark);
}
.as-list2-row-alert-holder
{
	padding-top: $as-gutter * 2;
	&.asa-alert-action
	{
		color: map-get($as-palette-blue, 500);
	}
}
.as-list2-column
{
	line-height: $as-list2-row-height;
	font-size: 16px;
	color: map-get($as-palette-fg, dark);
	width: 100px;
	padding-left: $as-gutter;
	padding-right: $as-gutter;
	&.asa-right
	{
		text-align: right;
	}
}

.as-alert-icon
{
}

.as-list2-row-secondary-action
{
	height: $as-list2-row-height;
	width: $as-list2-row-height;
	.as-row-icon
	{
		display: block;
		padding: ($as-list2-row-height - 24px) / 2;
	}
	
}