.as-crud-hierarchy-list-holder
{
	width: 400px;
	border-right: solid 1px map-get($as-palette-grey, 100);
}
.as-crud-hierarchy-list-inner
{

}
.as-view-edit-hierarchy
{
	background-color: map-get($as-palette-grey, 100);
}
