$studio-view-tree-line-color: map-get($as-palette-grey, 500);
$studio-view-tree-line-color-hover: map-get($as-palette-primary, 500);
$studio-view-tree-line-color-cut: map-get($as-palette-orange, 500);
$studio-view-tree-line-width: 2px;
$studio-view-tree-line-pos: 15px;
$studio-view-tree-node-height: 32px;
$studio-view-tree-node-width: 150px;
$studio-view-tree-node-hgutter: 80px;
$studio-view-tree-node-vgutter: 10px;