.studio-view-tree-node-box
{
	outline:none;
	position: relative;
	@extend .as-cell-fixed;
	border: solid 2px $studio-view-tree-line-color;
	line-height: $studio-view-tree-node-height;
	height: $studio-view-tree-node-height;
	border-radius: 4px;
	margin-bottom: $studio-view-tree-node-vgutter;
	width: $studio-view-tree-node-width;
	@include user-select(none);
	background-color: #fff;
	cursor:default;
	padding-left: $as-gutter / 2;
	padding-right: $as-gutter / 2 + $studio-view-tree-node-height;
	font-size: 13px;
	line-height: $studio-view-tree-node-height - 2px;
	text-overflow: ellipsis;
	overflow: hidden;
	
	&.asa-new
	{
		border:none;
		border-bottom: solid 1px map-get($as-palette-grey, 500);
		border-radius: 0px;
		color: map-get($as-palette-primary, 500);
	}
	&.asa-root
	{
		width: $studio-view-tree-node-height;
		border-radius: $studio-view-tree-node-height;
		padding: 0px;
		text-align: center;
	}
	&.asa-disabled
	{
		border-style: dashed;
		.studio-view-tree-node-box-drag
		{
			display:none;
		}
	}
	&.asa-selected
	{
		box-shadow: $as-whiteframe-shadow-2dp;
		border-color: $studio-view-tree-line-color-hover;
		background-color: $studio-view-tree-line-color-hover;
		color: #fff;
		font-weight: bold;
	}
	&.asa-copied
	{
		border-style: dotted;
		border-color: $studio-view-tree-line-color-cut;
		color: $studio-view-tree-line-color-cut;
		&.asa-selected
		{
			box-shadow: $as-whiteframe-shadow-2dp;
			border-color: $studio-view-tree-line-color-cut;
			background-color: $studio-view-tree-line-color-cut;
			color: #fff;
			font-weight: bold;
		}
	}
	&:hover
	{
		border-color: $studio-view-tree-line-color-hover;
	}
}
.studio-view-tree-node-box-drag
{
	position: absolute;
	top: 2px;
	right: 2px;
	padding: 0px;
	color: $studio-view-tree-line-color;
	padding-top: 2px;
	padding-right: 4px;
	text-align:center;
	&.asa-selected
	{
		color: #fff;
	}

	i
	{
		cursor: move;
	}
}