@import "variables";

.studio-view-tree-node-info
{
	&.asa-expanded
	{
		.studio-view-tree-node-details
		{
			display: block;
		}
	}
	&:hover
	{
		.studio-view-tree-node-details
		{
			border-color: $studio-view-tree-line-color-hover;
		}
	}
	&>.studio-view-tree-node-line-hr
	{
		position: absolute;
		top: $studio-view-tree-line-pos;
		right: -$studio-view-tree-node-hgutter/2;
		width: $studio-view-tree-node-hgutter/2;
		height: $studio-view-tree-line-width;
		background-color: $studio-view-tree-line-color;
	}	
}
.studio-view-tree-node-details
{
	display: none;
	@include user-select(auto);
	margin: -$as-gutter;
	margin-bottom: $studio-view-tree-node-vgutter;
	min-width: 400px;
	z-index: 1000;
	.studio-view-tree-node-details-bg
	{
		position: fixed;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
	}
	.as-card
	{
		z-index: 2001;
		background-color: #fff;
		box-shadow: $as-whiteframe-shadow-10dp;
	}
}
