.as-input-control-inline-radio-holder
{
	margin-top: $as-input-label-height;
}

.as-input-control-inline-radio-item
{
	padding-left: 0px;
	margin-right: $as-gutter /2;
	font-weight: normal;
}
.as-input-control-inline-radio-label
{
	padding-right: $as-gutter / 2;
	line-height: 24px;
}

