.as-button {


  &.asa-fab {
    background-color: map-get($as-palette-accent, 500);
    color: map-get($as-palette-accent-contrast, dark);
    as-icon {
      color: map-get($as-palette-accent-contrast, dark);
    }
    &:not([disabled]) {
      &:hover {
        background-color: map-get($as-palette-accent, 500);
      }
      &.as-focused {
        background-color: map-get($as-palette-accent, 700);
      }
    }
  }

  &.asa-primary {
    color: map-get($as-palette-primary, 500);
    &.asa-raised,
    &.asa-fab {
      color: map-get($as-palette-primary-contrast, dark);
      background-color: map-get($as-palette-primary, 500);
      &:not([disabled]) {
        as-icon {
          color: map-get($as-palette-primary-contrast, dark);
        }
        &:hover {
          background-color: map-get($as-palette-primary, 500);
        }
        &.asa-focused {
          background-color: map-get($as-palette-primary, 600);
        }
      }
    }
    &:not([disabled]) {
      as-icon {
        color: map-get($as-palette-primary, 500);
      }
    }
  }
  &.asa-fab {
    background-color: map-get($as-palette-accent, 500);
    color: map-get($as-palette-accent-contrast, dark);
    &:not([disabled]) {
      .as-icon {
        color: map-get($as-palette-accent-contrast, dark);
      }
      &:hover {
        background-color: map-get($as-palette-accent, 500);
      }
      &.asa-focused {
        background-color: map-get($as-palette-accent, 700);
      }
    }
  }


  &.asa-fill {
    color: map-get($as-palette-bg, darker);
    background-color: map-get($as-palette-primary, 500);
    &:not([disabled]) {
      .as-icon {
        color: map-get($as-palette-fg, dark);
      }
      &:hover {
        background-color: map-get($as-palette-primary, 300);
      }
      &.asa-focused {
        background-color: map-get($as-palette-primary, 300);
      }
    }
  }

  &.asa-warn {
    color: map-get($as-palette-warn, 500);

    &.asa-raised,
    &.asa-fab {
      color: map-get($as-palette-warn-contrast, dark);
      background-color: map-get($as-palette-warn, 500);
      &:not([disabled]) {
        as-icon {
          color: map-get($as-palette-warn-contrast, dark);
        }
        &:hover {
          background-color: map-get($as-palette-warn, 500);
        }
        &.asa-focused {
          background-color: map-get($as-palette-warn, 700);
        }
      }
    }
    &:not([disabled]) {
      as-icon {
        color: map-get($as-palette-warn, 500);
      }
    }
  }

  &.asa-accent {
    color: map-get($as-palette-accent, 500);
    &.asa-raised,
    &.asa-fab {
      color: map-get($as-palette-accent-contrast, dark);
      background-color: map-get($as-palette-accent, 500);
      &:not([disabled]) {
        as-icon {
          color: map-get($as-palette-accent-contrast, dark);
        }
        &:hover {
          background-color: map-get($as-palette-accent, 500);
        }
        &.asa-focused {
          background-color: map-get($as-palette-accent, 700);
        }
      }
    }
    &:not([disabled]) {
      as-icon {
        color: map-get($as-palette-accent, 500);
      }
    }
  }

  &[disabled],
  &.asa-raised[disabled],
  &.asa-fab[disabled],
  &.asa-accent[disabled],
  &.asa-warn[disabled] {
    color: map-get($as-palette-fg, dark);
    cursor: not-allowed;

    as-icon {
      color: map-get($as-palette-fg, dark);
    }
  }
  &.asa-raised[disabled],
  &.asa-fab[disabled] {
    background-color: map-get($as-palette-fg, darker);
  }
  &[disabled] {
    background-color: transparent;
  }
}