.as-tree-light-selection-info
{
  padding: $as-tree-light-node-hgutter / 3;
  border-bottom: solid 1px map-get($as-palette-grey, 100);
  background-color: map-get($as-palette-grey, 100);
  font-size: 13px;
  color: map-get($as-palette-grey, 600);
  min-height: 100px;
  overflow: scroll;
  a{
    color: map-get($as-palette-indigo, 500);
    text-decoration: none;
    &:hover{
      color: map-get($as-palette-red, 500);
    }
  }
  h1
  {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    .material-icons
    {
    	font-size: 16px;
    }
  }
  h2
  {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    color: map-get($as-palette-grey, 700);
  }
}
.as-tree-light-selection-info-expand
{
	margin-top: $as-gutter;
	margin-left: -$as-gutter;
	margin-right: -$as-gutter;
	margin-bottom: -$as-gutter;
	text-align:center;
	background-color: map-get($as-palette-grey, 200);
	line-height: 32px;
	height: 32px;
	font-size: 16px;
	.material-icons
	{
		padding-top: 4px;
	}
	span
	{
		display: inline-block;
		height: 32px;
		font-size: 16px;
	}
	&:hover
	{
		background-color: map-get($as-palette-grey, 300);
	}
}
