.as-tree-light-selection-info
{
  padding: $as-tree-light-node-hgutter / 3;
  border-bottom: solid 1px map-get($as-palette-grey, 100);
  background-color: map-get($as-palette-grey, 100);
  font-size: 13px;
  color: map-get($as-palette-grey, 600);
  max-height: 300px;
  min-height: 100px;
  overflow: scroll;
  a{
    color: map-get($as-palette-indigo, 500);
    text-decoration: none;
    &:hover{
      color: map-get($as-palette-red, 500);
    }
  }
  h1
  {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }
  h2
  {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    color: map-get($as-palette-grey, 700);
  }
}
