.as-main-menu
{
	background-image: $as-main-menu-bg-image;
	background-size: cover;
	font-family: "Roboto";
	height:$as-main-menu-height;
	background-color: $as-main-menu-bg-color;
}
.as-main-menu-brand
{
	background-image: $as-brand-bg-image;
	padding: $as-gutter;
	width: $as-sidebar-width-desktop;
}
.as-main-menu-brand-logo
{
	position:relative;
	min-height: $as-panel-header-height - $as-gutter * 2;
	background-image: $as-brand-logo;
	background-size: contain;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	&.asa-doc
	{
		background-size: 100px 20px;
		padding-top: 20px;
		padding-left: 30px;
	}
}

.as-main-menu-items
{
	margin: 0;
	padding: 0;
}
.as-main-menu-item
{
	padding-right: $as-gutter*2;
	padding-top: $as-gutter/2;
	padding-bottom: $as-gutter/2;
	height:$as-main-menu-height;
	@include user-select(none);
	text-transform:uppercase;
	display: flex;
	.material-icons
	{
		line-height:$as-main-menu-height - $as-gutter;
		height:$as-main-menu-height - $as-gutter;
	}
	span
	{
		line-height:$as-main-menu-height - $as-gutter;
		height:$as-main-menu-height - $as-gutter;
		padding-left: $as-gutter / 4;
	}
	a
	{
		height:$as-main-menu-height - $as-gutter;
		line-height:$as-main-menu-height - $as-gutter;
		text-decoration:none;
		display: flex;
		color: #666;
		&.asa-primary
		{
			color: map-get($as-palette-primary, 500);
			&:hover,&:focus
			{
				text-decoration:none;
				color: #333;
			}
		}
		&:hover,&:focus
		{
			text-decoration:none;
			color: #333;
		}	
	}
	&.active
	{
		a {color: map-get($as-palette-primary, 500);}
	}
}