<div class='apishore-shift-menu' ng-class="{'apishore-shift-menu-disabled': disabled(), 'apishore-shift-menu-expanded': isExpanded()}">
	<div class='apishore-shift-menu-inner-closer' ng-click="hideSidebar()"></div>
	<div class='apishore-shift-menu-inner' ng-transclude></div>
<!--
	<a class="apishore-shift-menu-toggle" ng-click="toogle()"><i class="fa" ng-class="{'fa-chevron-down':!expanded, 'fa-chevron-up':expanded}"></i></a>
 	<pre>{{apishoreShiftContainer | json}}|{{apishoreShiftLevel}}} disbaled:{{disabled()}}}</pre>
 --></div>