.as-complex-editor
{
	position:fixed;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	background-color: #fff;
}
.as-complex-editor-close-button
{
	display: block;
	position: fixed;
	top: $as-gutter * 2;
	right: $as-gutter * 2;
	background-color: map-get($as-palette-grey, 500);
	border-radius: 48px;
	width: 48px;
	height: 48px;
	i
	{
		position: absolute;
		left: 6px;
		top: 6px;
		font-size: 36px;
		color: #fff;
	}
	&:hover
	{
		background-color: map-get($as-palette-primary, 500);
	}
}