
$as-gutter: 16px;

$as-grid-max-cols: 16 !default;

$screen-sm-min: 600px;
$screen-md-min: 1024px;
$screen-lg-min: 1200px;
$container-sm: 600px;
$container-md: 600px;
$container-lg: 600px;
$breadcrumb-separator: '/';
//
// Icons
//
$as-icon-size: 24px;

// Typography
// ------------------------------
$as-font-family: Roboto, 'Helvetica Neue', sans-serif !default;
$as-font-size:   10px;

$as-display-4-font-size-base: rem(11.20) !default;
$as-display-3-font-size-base: rem(5.600) !default;
$as-display-2-font-size-base: rem(4.500) !default;
$as-display-1-font-size-base: rem(3.400) !default;
$as-headline-font-size-base:  rem(2.400) !default;
$as-title-font-size-base:     rem(2.000) !default;
$as-subhead-font-size-base:   rem(1.600) !default;

$as-body-font-size-base:      rem(1.400) !default;
$as-caption-font-size-base:   rem(1.200) !default;

// Layout
// ------------------------------

$as-baseline-grid:            8px !default;
$as-layout-breakpoint-sm:     600px !default;
$as-layout-breakpoint-md:     960px !default;
$as-layout-breakpoint-lg:     1200px !default;
$as-layout-gutter-width:      ($as-baseline-grid * 2) !default;


// App bar variables
$as-app-bar-height: 64px;

$as-toast-height: $as-baseline-grid * 3 !default;
$as-toast-margin: $as-baseline-grid * 1 !default;

// Whiteframes

$as-shadow-key-umbra-opacity:      0.2;
$as-shadow-key-penumbra-opacity:   0.14;
$as-shadow-ambient-shadow-opacity: 0.12;

// NOTE(shyndman): gulp-sass seems to be failing if I split the shadow defs across
//    multiple lines. Ugly. Sorry.
$as-whiteframe-shadow-1dp: 0px 1px 3px 0px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 1px 1px 0px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 2px 1px -1px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-2dp: 0px 1px 5px 0px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 2px 2px 0px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 3px 1px -2px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-3dp: 0px 1px 8px 0px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 3px 4px 0px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 3px 3px -2px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-4dp: 0px 2px 4px -1px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 4px 5px 0px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 1px 10px 0px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-5dp: 0px 3px 5px -1px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 5px 8px 0px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 1px 14px 0px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-6dp: 0px 3px 5px -1px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 6px 10px 0px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 1px 18px 0px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-7dp: 0px 4px 5px -2px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 7px 10px 1px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 2px 16px 1px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-8dp: 0px 5px 5px -3px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 8px 10px 1px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 3px 14px 2px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-9dp: 0px 5px 6px -3px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 9px 12px 1px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 3px 16px 2px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-10dp: 0px 6px 6px -3px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 10px 14px 1px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 4px 18px 3px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-11dp: 0px 6px 7px -4px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 11px 15px 1px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 4px 20px 3px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-12dp: 0px 7px 8px -4px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 12px 17px 2px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 5px 22px 4px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-13dp: 0px 7px 8px -4px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 13px 19px 2px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 5px 24px 4px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-14dp: 0px 7px 9px -4px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 14px 21px 2px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 5px 26px 4px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-15dp: 0px 8px 9px -5px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 15px 22px 2px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 6px 28px 5px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-16dp: 0px 8px 10px -5px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 16px 24px 2px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 6px 30px 5px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-17dp: 0px 8px 11px -5px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 17px 26px 2px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 6px 32px 5px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-18dp: 0px 9px 11px -5px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 18px 28px 2px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 7px 34px 6px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-19dp: 0px 9px 12px -6px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 19px 29px 2px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 7px 36px 6px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-20dp: 0px 10px 13px -6px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 20px 31px 3px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 8px 38px 7px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-21dp: 0px 10px 13px -6px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 21px 33px 3px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 8px 40px 7px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-22dp: 0px 10px 14px -6px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 22px 35px 3px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 8px 42px 7px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-23dp: 0px 11px 14px -7px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 23px 36px 3px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 9px 44px 8px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;
$as-whiteframe-shadow-24dp: 0px 11px 15px -7px rgba(0, 0, 0, $as-shadow-key-umbra-opacity), 0px 24px 38px 3px rgba(0, 0, 0, $as-shadow-key-penumbra-opacity), 0px 9px 46px 8px rgba(0, 0, 0, $as-shadow-ambient-shadow-opacity) !default;

// Z-indexes
//--------------------------------------------

$as-z-index-tooltip: 100 !default;
$as-z-index-menu-bg: 7;
$as-z-index-menu-parent: 98;
$as-z-index-menu: 99;
$as-z-index-select: 99 !default;
$as-z-index-dialog: 80 !default;
$as-z-index-toast: 90 !default;
$as-z-index-bottom-sheet: 70 !default;
$as-z-index-scroll-mask: 65 !default;
$as-z-index-sidenav: 60 !default;
$as-z-index-backdrop: 50 !default;
$as-z-index-fab: 20 !default;

// Easing Curves
//--------------------------------------------

$as-swift-ease-out-duration: 0.4s !default;
$as-swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$as-swift-ease-out: all $as-swift-ease-out-duration $as-swift-ease-out-timing-function !default;

$as-swift-ease-in-duration: 0.3s !default;
$as-swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$as-swift-ease-in: all $as-swift-ease-in-duration $as-swift-ease-in-timing-function !default;

$as-swift-ease-in-out-duration: 0.5s !default;
$as-swift-ease-in-out-timing-function: cubic-bezier(0.35, 0, 0.25, 1) !default;
$as-swift-ease-in-out: all $as-swift-ease-in-out-duration $as-swift-ease-in-out-timing-function !default;

$as-swift-linear-duration: 0.08s !default;
$as-swift-linear-timing-function: linear !default;
$as-swift-linear: all $as-swift-linear-duration $as-swift-linear-timing-function !default;

// Fab Buttons (shared between buttons.scss and fab*.scss)
// -------------------------------------------
$as-button-fab-width: rem(5.600) !default;
$as-button-fab-height: rem(5.600) !default;
$as-button-fab-padding: rem(1.60) !default;


$as-breakpoint-xxsmall: 480px;
$as-breakpoint-xsmall: 600px;
$as-breakpoint-smallx: 840px;
$as-breakpoint-small: 960px;
$as-breakpoint-medium: 1280px;
$as-breakpoint-xxlarge: 1440px;
$as-breakpoint-xlarge: 1600px;
$as-breakpoint-large: 1920px;

$as-baseline-grid: $as-gutter / 2;
$as-grid-gutter: $as-gutter / 2;

// data table
$as-data-table-column-padding: 24px;
$as-sidebar-bg: #ebebeb;

// panel
$as-panel-header-height: 60px;

// SHIFT MENU

$apishore-shift-menu-inner-width: 80%;
$apishore-shift-menu-inner-width-tablet: 40%;

//APPBAR
$as-appbar-left-margin: 0px;
$as-appbar-height-desktop: 64px;
$as-appbar-height-tablet: 64px;
$as-appbar-height-phone-portrait: 56px;
$as-appbar-height-phone-landscape: 48px;
$as-appbar-icon-color: #555;
$as-appbar-icon-hover-color: #222;
$as-appbar-icon-tooltip-display: none;
$as-appbar-search-area-padding-left: 0px;

//DROP DOWN
$as-dropdown-menu-title-height: 48px;
// INFOBAR
$as-infobar-header-bg-color: transparent;

// SIDEBAR
$as-sidebar-top-menu-bg-image: url('../img/as-sidebar-top-menu-bg.jpg');
$as-sidebar-width: 220px;
$as-sidebar-width-wide-desktop: 320px;
$as-sidebar-width-desktop: 250px;
$as-sidebar-width-tablet: 220px;

// SIDEBAR ITEM

$as-sidebar-padding-top: 8px;
$as-sidebar-padding-top-tablet: 14px;
$as-sidebar-padding-bottom: 8px;
$as-sidebar-padding-bottom-tablet: 14px;

// MAIN-MENU
$as-main-menu-height: 60px;
$as-main-menu-bg-image: none;//url('/img/as-sidebar-top-menu-bg.jpg');
$as-main-menu-bg-color: #fff;

// BREADCRUMB
$as-breadcrumb-color: #555;
$as-breadcrumb-current-color: #333;

//DIALOG
$as-dialog-zindex: 10;
$as-dialog-bg-color: #fff;

//CHIPS
$md-chips-radius: 2px;
$as-md-chips-editor-item-height: 28px;

// branding images
$as-brand-bg-color: rgba(#595D67, 0.7);
$as-brand-bg-image: none;


$as-zlevel-sidebar: 1000;