// Global page styles
//
// [2] Ensure the page always fills at least the entire height of the viewport.
// [3] Prevent iOS text size adjust after orientation change, without disabling user zoom
// [4] Fonts on OSX will look more consistent with other systems that do not
// render text using sub-pixel anti-aliasing.

html, body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;

  min-height: 100%; // [2]

  -webkit-text-size-adjust: 100%; // [3]
  -ms-text-size-adjust: 100%; // [3]

  -webkit-font-smoothing: antialiased; // [4]
  -moz-osx-font-smoothing: grayscale; // [4]
}

.as-select, .as-card, .as-list, .as-toolbar,
ul, ol, p, h1, h2, h3, h4, h5, h6 {
  //text-rendering: optimizeLegibility;
}

/************
 * Headings
 ************/
.as-display-4 {
  font-size: $as-display-4-font-size-base;
  font-weight: 300;
  letter-spacing: -0.010em;
  line-height: $as-display-4-font-size-base;
}
.as-display-3 {
  font-size: $as-display-3-font-size-base;
  font-weight: 400;
  letter-spacing: -0.005em;
  line-height: $as-display-3-font-size-base;
}
.as-display-2 {
  font-size: $as-display-2-font-size-base;
  font-weight: 400;
  line-height: rem(6.4);
}
.as-display-1 {
  font-size: $as-display-1-font-size-base;
  font-weight: 400;
  line-height: rem(4);
}
.as-headline {
  font-size: $as-headline-font-size-base;
  font-weight: 400;
  line-height: rem(3.2);
}
.as-title {
  @include as-title();
}
.as-subhead {
  @include as-subhead();
}
/************
 * Body Copy
 ************/
.as-body-1 {
  @include as-body-1();
}
.as-body-2 {
  @include as-body-2();
}
.as-caption {
  font-size: $as-caption-font-size-base;
  letter-spacing: 0.020em;
}
.as-button {
  letter-spacing: 0.010em;
}

/************
 * Defaults
 ************/

button,
select,
html,
textarea,
input {
  font-family: $as-font-family;
}

select,
button,
textarea,
input {
  font-size: 100%;
}