.as-device-demo
{
	border: solid 10px map-get($as-palette-blue, 500);
	padding: 10px;
	&.as-device-wide-desktop
	{
		width: 1900px;
	}
	&.as-device-desktop
	{
		width: 1900px;
	}
	&.as-device-tablet
	{
		width: 960px;
	}
	&.as-device-phone-portrait
	{
		width: 400px;
		height: 800px;
	}
	&.as-device-phone-landscape
	{
		width: 600px;
	}
}

.as-grid-container
{
	&.as-grid-container-demo
	{
		margin: 0px;
		margin-bottom: $as-grid-gutter;
		border-top: solid 1px map-get($as-palette-grey, 500);
		border-left: solid 1px map-get($as-palette-grey, 500);	
	}
	&.as-grid-container-demo-gutter
	{
	}
	
	.as-grid-cell-demo
	{
		background-color: map-get($as-palette-grey, 200);
		text-align: center;
		padding: $as-grid-gutter;
		border-right: solid 1px map-get($as-palette-grey, 500);
		border-bottom: solid 1px map-get($as-palette-grey, 500);
	}
	.asa-gutter
	{
		&.as-grid-container-demo
		{
			border: none;
		}
		.as-grid-cell-demo
		{
			border:none;
		}
	}
}