.as-studio-design-preview
{
	background-color: #fff;
	@extend .as-vbox;
	@extend .as-panel;
	&.asa-expanded
	{
		z-index: 1000;
		position: fixed;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
	}
}
.as-device-demo
{
	@extend .as-cell-wide;
}
.as-studio-design-preview-header
{
	background-color: map-get($as-palette-grey, 200);
}
.as-studio-design-preview-header-title
{
	font-size: 18px;
	line-height: 24px;
	padding: $as-gutter;
}