///@group components.charts

$as-chart-gutter: 80px;
$as-chart-axis-labels-size: 30px;

@import "value-total-hline";
@import "value-total-vline";
@import "value-total-donat";


.as-chart-container
{
	opacity: 1;
	transition: all 1s ease;
	*
	{
		transition: all 0.5s ease;
	}
	&.asa-loaded
	{
		opacity: 1;
	}
}
.as-chart-axis-y-label
{

}
.as-chart-axis-labels
{
	position: absolute;
	height: $as-chart-axis-labels-size;
	line-height: $as-chart-axis-labels-size;
	&.asa-x
	{
		bottom: $as-chart-gutter - $as-chart-axis-labels-size;
		left: $as-chart-gutter;
		right: $as-chart-gutter;
	}
}
.as-chart-axis-label
{
	font-size: 12px;
	color: map-get($as-palette-grey, 500);
	text-overflow: ellipsis;
	overflow: hidden;
	&.asa-x
	{
		text-align: center;
	}
}
.as-chart-axis
{
  fill: none;
  stroke: map-get($as-palette-grey, 300);
  stroke-width: 2px;
  &.asa-level
  {
	stroke: map-get($as-palette-grey, 200);
  	stroke-width: 1px;
  }
}
.as-chart-line-dot
{
	fill: map-get($as-palette-primary, 300);
	r: 8px;
	&:hover
	{
		r: 12px;
	}
}
.as-chart-line
{
  fill: none;
  stroke: map-get($as-palette-grey, 500);
  stroke-width: 4px;
}
