.as-form
{
	@extend .as-panel;
}
.as-form-content
{
	padding: $as-gutter;
	padding-top: 0px;
	.as-card
	{
		margin-left: 0px;
		margin-right: 0px;
	}
}
.as-form-delimiter-label
{
	&:last-child
	{
		display:none;
	}
}
.as-form-top-help
{
	padding: 16px;
    font-size: 14px;
    border-bottom: solid 1px #999;
    margin: -16px;
    padding-top: 32px;
    background-color: #ffe;
}