///@group components.navigation.bottom_sheet
///@fieldset-def base{label:"Font and color"}
///@fieldset-def list{label:"List style"}
///@fieldset-def grid{label:'Grid-style bottom sheet with icons'}
/// Bottom navigation provides quick navigation between top-level views of an app.
/// It is primarily designed for use on mobile.
/// Larger displays, like desktop, may achieve a similar effect by using side navigation.
/// For instance, the compact “rail” treatment displays navigational icons by default.
///
///

///@label Default font size of bottom sheet
///@fieldset base
///@editor font-size
$as-bottom-sheet-font-size: dp(16);
///@label Text color
///@fieldset base
///@editor color
$as-bottom-sheet-color: map-get($as-palette-fg, darker);
///@label Title color
///@fieldset base
///@editor color
$as-bottom-sheet-title-color: map-get($as-palette-fg, dark);
///@label Default bottom sheet background fill
///@fieldset base
///@editor color
$as-bottom-sheet-bgcolor: #fff;
///@label Transparent overlay fill
///@fieldset base
///@editor color
$as-bottom-sheet-transparent-overlay-fill: map-get($as-palette-black, 20);


///@label Screen edge left &amp; right margins
///@fieldset list
///@editor dimension
$as-bottom-sheet-list-style-hpadding: 16px;
///@label Top and bottom margins
///@fieldset list
///@editor dimension
$as-bottom-sheet-list-style-vpadding: 24px;
///@label List-item height
///@fieldset list
///@editor dimension
$as-bottom-sheet-list-style-item-height: 48px;
///@label List icons size
///@fieldset list
///@editor dimension
$as-bottom-sheet-list-style-icon-size: 24px;
///@label Padding of text associated with icon
///@fieldset list
///@editor dimension
$as-bottom-sheet-list-style-icon-right-padding: 32px;
///@label Divider line height
///@fieldset list
///@editor dimension
$as-bottom-sheet-list-style-divider-line-height: 1px;
///@label Space below the top list
///@fieldset list
///@editor dimension
$as-bottom-sheet-list-style-space-below-top-list: 7px;
///@label Space above second bottom sheet
///@fieldset list
///@editor dimension
$as-bottom-sheet-list-style-space-above-second-list: 8px;
///@label List title height
///@fieldset list
///@editor dimension
$as-bottom-sheet-list-style-title-height: 56px;

///@label Screen edge left & right margins
///@fieldset grid
///@editor dimension
$as-bottom-sheet-grid-style-hpadding: 24px;
///@label Padding below grid
///@fieldset grid
///@editor dimension
$as-bottom-sheet-grid-style-bpadding: 24px;
///@label Vertical space between grid lists
///@fieldset grid
///@editor dimension
$as-bottom-sheet-grid-style-row-margin: 16px;
///@label Grids list icon size
///@fieldset grid
///@editor dimension
$as-bottom-sheet-grid-style-icon-size: 48px;
