///@group components.navigation.bottom_sheet
/// Bottom navigation provides quick navigation between top-level views of an app.
/// It is primarily designed for use on mobile.
/// Larger displays, like desktop, may achieve a similar effect by using side navigation.
/// For instance, the compact “rail” treatment displays navigational icons by default.
///
///

///@label Default font size of bottom sheet
///@editor font-size
$as-bottom-sheet-font-size: dp(16);

///@label Text color
///@editor color
$as-bottom-sheet-color: map-get($as-palette-fg, darker);

///@label Title
///@editor color
$as-bottom-sheet-color: map-get($as-palette-fg, dark);

///@label Title
///@editor color
$as-bottom-sheet-bgcolor: #fff;

///@label Screen edge left &amp; right margins
///@editor dimension
$as-bottom-sheet-list-style-hpadding: 16px;

///@label Top and bottom margins
///@editor dimension
$as-bottom-sheet-list-style-vpadding: 24px;

$as-bottom-sheet-large-width: 64px;
$as-bottom-sheet-phone-hpadding: 12px;
$as-bottom-sheet-icon-size: 24px;

$as-bottom-sheet-action-min-width: 80px;
$as-bottom-sheet-action-max-width: 168px;

$as-bottom-sheet-bgcolor: map-get($as-palette-grey, 100);
$as-bottom-sheet-bgcolor: map-get($as-palette-grey, 100);
$as-bottom-sheet-color: map-get($as-palette-grey, 500);
$as-bottom-sheet-active-color: map-get($as-palette-grey, 500);

.as-bottom-sheet-container
{
  &.asa-modal
  {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;

    background-color: rgba(0,0,0,0.1);
  }
}
.as-bottom-navigation-action
{
  color: $as-bottom-sheet-color;
  padding-left: $as-bottom-sheet-phone-hpadding;
  padding-right: $as-bottom-sheet-phone-hpadding;
  padding-top: 8px;
  text-align:center;
  min-width: $as-bottom-sheet-action-min-width;
  max-width: $as-bottom-sheet-action-max-width;
  font-size: dp(12);
  &:hover,
  &.asa-selected
  {
    color: $as-bottom-sheet-active-color;
    padding-top: 6px;
    font-size: dp(14);
  }
}
.as-bottom-navigation-action-icon
{

}
.as-bottom-navigation-action-label
{

}
