@import "variables";
@import "selection-info";

@import "node";
@import "node-info";
@import "box";

.studio-structure-fields-shortcuts
{
	color: map-get($as-palette-grey, 800);
	padding: $as-gutter *2;
	font-size: 16px;
	
	@include transition(all 10s ease);
	&.asa-off
	{
		opacity: 0.5;
		&:hover
		{
			opacity: 1;
		}
	}
}